/* ############################################################################################################################# */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: antiquewhite;
    font-weight: 600;

}

body {
        background: linear-gradient(rgba(0, 0, 0, 0.575)),url(../img/pexels-jplenio-1118873.jpg);

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
 
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
}

.regular-txt {
    font-weight: 400;
    font-size: 20px;
}

.main-container {
    width: 500px;
    height: 630px;
    z-index: 1;
    background: linear-gradient(to top, #b66a14,#855f1fb7,#3A597A,#034B87);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    padding: 20px;
    
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.city-input {
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0,0.15);
    outline: none;
    font-weight: 500;
    transition: 0,25s border;
}
.city-input:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-input::placeholder {
    color: rgb(255, 255, 255,0.75);
}

.search-btn {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}
.fa-solid {
    color: darkgoldenrod;
    font-size: 20px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.location-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;

}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}
.weather-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-summary-img {
    width: 80px;
}
.weather-summary-info {
    text-align: end;
}



.weather-condition-container {
    display: flex;
    justify-content: space-between;
}
.condition-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item i {
    font-size: 30px;
}


.forecast-item-container {
    display: flex;
    gap: 15px;
    overflow: scroll;
    padding-bottom: 12px;

}

 .forecast-item-container::-webkit-scrollbar {
    height: 8px;
    width: 6px;
}

.forecast-item-container::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast-item-container::-webkit-scrollbar-thumb {
        background: rgb(0, 0, 0, 0.15);
        border-radius: 99px;

} 


.forecast-item {
    min-width: 140px;
    background: rgb(255, 255, 255,0.1 );
    display: flex;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    transition: 0.3s background;
    margin-block: 30px;
    margin-inline: 20px;
}

.forecast-item:hover {
    background: rgb(255,255, 255,0.19);
}

.forecast-item-img {
    width: 50px;
}


.message-img {
    height: 350px;
    width: fit-content;
}

.not-found {
      height: 350px;
    width: 350px;
    border-radius: 40px;
    margin-inline: 60px;
    margin-block: 50px;
}

.section-message h1 {
    color: whitesmoke;
          font-family: "Playfair Display", serif;
          margin-block: 30px;
          font-weight: 600;


}

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25px;
}


/* ######################################################################################################################### */


























